:root {
    --dark-grey: rgb(79, 83, 87);
    --medium-grey: rgb(143, 150, 156);
    --light-grey: rgb(220, 233, 242);
    --dark-green: rgb(79, 126, 125);
    --medium-green: rgb(127, 205, 180);     /* like CV */
    --white: rgb(255, 255, 255);
    --contrast: rgb(180, 55, 113);
}

@keyframes entry {
	0% {
		transform: translateX(50%);
	}

	100% {
		transform: translateX(0);
	}
}

/* ========================== NIVEAU 0 : body ========================== */
body {
    text-align: center;
    line-height: 25px; 
    font-family: Geneva, "Open Sans",Roboto, Calibri, Helvetica, Cambria, sans-serif, Arial, "Times New Roman";
    color: var(--dark-grey);
}

/* ========================== NIVEAU 1 : header, nav, footer, main ========================== */
nav {
    padding: 10px;
    background-color: var(--medium-green);
}

footer {
    padding: 10px;
    background-color: var(--light-grey);
}

/* ========================== NIVEAU 2: h1, section, ul(nav&footer), p(message)========================== */

#message {  /* p de header */
    color: var(--contrast);
    font-size: large;
    font-weight: bolder;
    font-style: italic;
    padding: 1%;
    animation: entry 3000ms;
}

/* niv2: icônes footer & nav */
/* niv3: les articles, comm sur 1 post, liens profil */
/* niv6: lire modif suppr post */
ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    /* border: solid 1px var(--dark-green); */
    padding: 0;
}

/* #home section {
    animation: entry 2000ms;
} */

/* ========================== NIVEAU 3: h2, ul / article (sauf .postInList) / form / table, li(nav&footer) ========================== */
h2 {
    color: var(--dark-green);
}

#admin h2 {
    text-transform: uppercase;
}

.postsList,             /* = ul */
.commentsInPost {
    flex-wrap: wrap;
}

article {
    padding: 10px;      /* ou seulement pour li des commentaires & articles en liste ? */
}

#post article {
    margin: 0 15%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20% 5% 20%;
    box-shadow: 2px 2px 2px var(--light-grey);
    border: solid 1px var(--medium-grey);
    border-radius: 10px;
    padding: 2%;
}

table {
    margin: 0 5% 5% 5%;
    width: 90%;
    table-layout: auto;
    /* table-layout: fixed; */
    border-collapse: collapse;
    border: 1px solid var(--dark-grey);
    font-size: small;
}

/* ========================== NIVEAU 4: li / p(art)/ article .postInList / fieldset / tr, a(nav&footer) ========================== */

/* li */
/* li{
    padding: 10px;
} */
.postsList li,
.commentsInPost li {
    width: 25%;
    height: fit-content;
    margin: 10px;
    border: solid 1px var(--medium-grey);
    border-radius: 10px;
    box-shadow: 2px 2px 2px var(--light-grey);
    padding: 10px;
}

/* p (dans article) */
.postIntro {
    font-weight: bold;
    font-style: italic;
}

.postContent {
    text-align: justify;
}

/* article .postInList
.postInList{
    margin: 10px;
    height: fit-content;
    border: solid 1px var(--dark-grey);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
*/

/* fieldset */
fieldset {
    display: flex;
    justify-content: space-between;
    border: none;
}

.btn-fieldset {
    align-self: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 50%;
}


thead {
    background-color: var(--dark-green);
    color: white;
    font-weight: bolder;
}

a {
    color: var(--dark-green);
}

a:hover {
    color: var(--medium-grey);
}


/* ========================== NIVEAU 5: label-input-textarea / th-td / contenu li(ul2-h3-a) / contenu p(img-a), i(nav&footer) ========================== */

/* .postsInList { */
    /* ul d'un article sur la page d'affichage */
/* } */
img {
    margin-top: 3%;
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--light-grey);
    filter: opacity(90%);
}

input,
textarea {
    width: 45%;
}

#post strong {
    font-size: large;
}

#post em {
    font-size: small;
}

tr {
    border: 1px solid var(--dark-grey);
}

/* .btn {
    width: 80px;
    height: 30px;
    background-color: var(--very-light-grey);
    border: solid 1px;
    border-radius: 10px;
} */



/* ========================== NIVEAU 6 ========================== */
th,
td {
    /* max-width: 20%; */
    /* padding: 0 2% 0 2%; */ /* right n'apparaît pas : cf. largeur des colonnes? */
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    line-height: 20px;
}

/* largeur relative des colonnes */
.chapo {    /* = th */
    width: 50%;
}

.date,
.manage {
    width: 11%;
}

.id {
    width: 10%;
}

/*
th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid purple;
}

thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
}
*/

/* ========================== NIVEAU 7 ========================== */
.adminPosts ul,
.listComments ul {
    flex-direction: column;
}

/* ========================== NIVEAU 8 ========================== */

/* ========================== NIVEAU 9 ========================== */


/* ========================== RESPONSIVE ========================== */

@media all and (max-width: 1024px) {
    .chapo {    /* = th*/
        width: 40%;
    }

    .date,
    .manage {
        width: 14%;
    }

    thead,
    tbody {
        font-size: smaller;
    }
}

@media all and (max-width: 768px) {
    h1 {
        line-height: 100%;
    }

    .postsList,
    .commentsInPost,
    form,
    input,
    textarea {
        font-size: small;
    }

    .chapo
    {
        display: none;
    }

    .date,
    .manage {
        width: 18%;
    }

}

@media all and (max-width: 530px) {
    body {
        font-size: small;
        line-height: 15px;
    }

    fieldset,
    input,
    textarea,
    .postsList li,
    .commentsInPost li {
        line-height: 13px;
        font-size: smaller;
    }

    .postsList li,
    .commentsInPost li {
        width: 35%;
    }

    .btn-fieldset {
        width: 70%;
    }
}

@media all and (max-width: 480px) {   
    h1,
    h2 {
        margin-left: 5%;
        margin-right: 5%;
        line-height: 100%;
    }

    #post article {
        margin: 0 5%;
    }
    
    .postsList,
    .commentsInPost,
    fieldset {
        flex-direction: column;
    }

    .postsList li,
    .commentsInPost li {
        width: 85%;
        margin: 2% 5%;
    }

    input,
    textarea {
        width: 100%;
    }

    thead,
    tbody {
        font-size:xx-small;
    }

    th,
    td {
        line-height: 120%;
    }

    th {
        font-weight: normal;
        text-align: center;
    }

    .adminPosts tbody .date,
    .listComments tbody .date {
        font-size: 7px;
    }

    .manage {
        width: 22%;
    }

    @media all and (max-width: 320px) {   

        body {
            font-size: x-small;
            /*line-height: 15px;*/
        }
    }
}