    <section class="createPost">

        <h2>CREER UN ARTICLE</h2>

        <form method="post" action="index.php?access=post!createpost">Saisissez les informations de votre article :
            </br>
            <label for="title">Titre : </label>
			<input type="text" name="title">
            </br>
            <label for="intro">Chapô (150 caractères maximum) : </label>
			<textarea name="intro" maxlength="150"></textarea>
            </br>
            <label for="content">Texte de l'article : </label>
			<textarea name="content"></textarea>
			</br>	
			<input type="submit" value="Envoyer">
        </form>

    </section>
