    <section class="createPost">

        <h2>Créer un article</h2>

        <form method="post" action="index.php?access=post!createpost">
            
            <fieldset>
                <label for="title">titre: </label>
                <input type="text" name="title">
            </fieldset>

            <fieldset>
                <label for="intro">chapô: </label>
                <textarea name="intro" maxlength="150" placeholder="150 caractères maximum" required></textarea>
            </fieldset>

            <fieldset>
                <label for="content">texte de l'article: </label>
                <textarea name="content" required></textarea>
            </fieldset>
			
            <fieldset class="btn-fieldset">
                <input class="btn" type="submit" value="Envoyer">
            </fieldset>

        </form>

    </section>
