{% extends "layout/layout.twig" %}

{% block title %}Modification d'un article{% endblock %}

{% block description %}Page de modification d'un article du blog{% endblock %}

{% block main %}
    <main id="updatePost">

        <section>

            <h2>Modifier un article</h2>

            <form method="post" action="index.php?access=post!updatePost&id={{post.id}}">
            
                <fieldset>
                    <label for="title">Titre : </label>
                    <input type="text" name="title" value="{{post.title}}">
                </fieldset>
            
                <fieldset>
                    <label for="intro">Chapô (150 caractères maximum) : </label>
                    <textarea name="intro" maxlength="150">{{post.intro}}</textarea>
                </fieldset>

                <fieldset>
                    <label for="content">Texte de l'article : </label>
                    <textarea name="content">{{post.content}}</textarea>
                </fieldset>

                <fieldset class="btn-fieldset">
                    <input class="btn" type="submit" value="Envoyer">
                </fieldset>

            </form>

        </section>

    </main>
{% endblock %}