{% extends "layout/layout.twig" %}

{% block title %}Message d'approbation ou de refus d'un commentaire{% endblock %}

{% block description %}Page informant l'admin de l'approbation ou du refus d'un commentaire{% endblock %}

{% block main %}
    <main id="approved">

        <p>Le commentaire a bien été {{approved}} .</p>

    </main>
{% endblock %}