{% extends 'layout/layout.twig' %}

{% block title %}Message d'erreur{% endblock %}

{% block description %}Page informant d'une erreur{% endblock %}

{% block main %}
    <main id="error">

        <p>Une erreur est survenue.</p>

    </main>
{% endblock %}