{% extends "layout/layout.twig" %}

{% block title %}Annaig Jégourel{% endblock %}

{% block description %}Page d'accueil de mon blog en PHP-MVC{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <h2>Développement web</h2>
            <p>
				<img src="/public/img/portraitPetit.jpg" alt="photo d'identité en couleur"/>
			</p>
            <p>Créativité et innovation</p>
            <p>Vos applications, un développement simple et efficace</p>
            <p><a href="/public/img/CV.pdf">Voir mon CV en pdf</a></p>
        </section>

        <section>
            <h2>Me contacter</h2>

            <form method="post" action="index.php?access=home!contact">

                <fieldset>
                    <label for="first_name">Votre prénom: </label>
	                <input type="text" name="first_name">
                    </br>
                    <label for="family_name">Votre nom de famille: </label>
			        <input type="text" name="family_name">
                    </br>
                    <label for="email">L'adresse e-mail où vous contacter: </label>
			        <input type="email" name="email">
                </fieldset>
                
				<fieldset>Votre message concerne :
					</br>
                    <input type="checkbox" name="choix" value="dev"/>Le développement web, l'informatique 
					</br>
                    <input type="checkbox" name="choix" value="blog"/>Le blog, les articles, les commentaires 
					</br>
                    <input type="checkbox" name="choix" value="autre"/>D'autres sujets
                </fieldset>
				
                <fieldset>
                    <input type="text" name="courrier" size="100" placeholder="Ecrivez ici votre message"/>
                    </br>
                    <input type="submit" value="Envoyer"/>
                </fieldset>
                
			</form>
		</section>
    </main>
{% endblock %}