{% extends "layout/layout.twig" %}

{% block title %}Home{% endblock %}

{% block description %}Homepage of my PHP-MVC Blog{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <h2>Introduction</h2>

            <p>This project is ...</p>
            <p>You will find the documentation <a href="#">here</a>...</p>
            <p>Don't hesitate to send <a href="https://github.com/AnnaigJegourel/OC-P5-Creez-votre-premier-blog-en-PHP/issues">issues</a>, I will watch them with interest.</p>
        </section>

        <section>
            <h2>Demonstration</h2>

            <p>L'admin a accès à la liste des Users: 
                <a href="index.php?access=user!readAllUsers" accesskey="rau" title="User">
                voir la liste
                </a>
            </p>

        </section>
    </main>
{% endblock %}