{% extends "layout/layout.twig" %}

{% block title %}Les articles{% endblock %}

{% block description %}Page listant tous les articles du blog{% endblock %}

{% block main %}
    <main id="listPosts">

        <section>
            <h2>Tous les articles publiés :</h2>

            <ul class="postInList">
                {% for post in allPosts %}
                    <li> <h3> {{ post.title }} </h3> </li>
                    <li> modifié le :{{ post.date_updated }} </li>
                    <li> <em> {{ post.intro }} </em> </li>
                    <li> <a href="index.php?access=post!readpost&id={{post.id}}" title="Post"> vers l'article entier </a> </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Créer un article</h2>
            <p> <a href="index.php?access=post!createpostform" title="Post"> créer un article </a> </p>
        </section>

    </main>
{% endblock %}