{% extends "layout/layout.twig" %}

{% block title %}Bonjour, {{data.name}}!{% endblock %}

{% block description %}Page de profil U{% endblock %}

{% block main %}
    <main id="profile">

        <p>Voici tes informations saisies:</p>
        <p>le nom saisi = {{data.name}}</p>
        <p>le mot de passe saisi = {{data.pwd}}</p>

    </main>
{% endblock %}