{% extends 'layout/layout.twig' %}

{% block title %}Test !{% endblock %}

{% block description %}Page de test{% endblock %}

{% block main %}
    <main id="test">

        <p>ça route!</p>

    </main>
{% endblock %}