{% extends "layout/layout.twig" %}

{% block title %}Les articles{% endblock %}

{% block description %}Page listant tous les articles du blog{% endblock %}

{% block main %}
    <main id="listPosts">

        <section>

            <h2>Tous les articles publiés:</h2>

            <ul class="postsList">
                {% for post in allPosts %}
                    <li>
                        <article class="postInList">
                            <h3> {{ post.title }} </h3>
                            <p>
                                <em> dernière modification: {{ post.date_updated }} </em>
                            </p>
                            <p> {{ post.intro }} </p>
                            <p>
                                <a href="index.php?access=post!readpost&id={{post.id}}" title="Post"> vers l'article entier </a>
                            </p>
                        </article>
                    </li>
                {% endfor %}
            </ul>

        </section>

    </main>
{% endblock %}