{% extends "layout/layout.twig" %}

{% block title %}Connexion à un compte{% endblock %}

{% block description %}Page de connexion à un compte U existant{% endblock %}

{% block main %}
    <main id="login">

        <section>

            <h2>Saisissez vos informations</h2>

            <form method="post" action="index.php?access=user">            
                <fieldset>
                    <label for="email">adresse e-mail: </label>
                    <input type="email" name="email" placeholder="adresse-e-mail@exemple.com">
                </fieldset>
            
                <fieldset>
                    <label for="pwd">mot de passe: </label>
                    <input type="password" id="pwd" name="pwd" placeholder="motdepasse">
                </fieldset>
            
                <fieldset class="btn-fieldset">
                    <input class="btn" type="submit" value="Envoyer">
                </fieldset>
            </form>

        </section>

    </main>
{% endblock %}