{% extends "layout/layout.twig" %}

{% block title %}Connexion à votre compte{% endblock %}

{% block description %}Page de connexion à un compte U existant{% endblock %}

{% block main %}
    <main id="login">

        <form method="post" action="index.php?access=user!login">Saisissez les informations de votre compte :
            </br>
            <label for="email">Votre adresse e-mail: </label>
			<input type="email" name="email" placeholder="e-mail@exemple.com">
            </br>
            <label for="pwd">Votre mot de passe: </label>
            <input type="password" id="pwd" name="pwd" placeholder="motdepasse">
            </br>
			<input type="submit" value="Envoyer">
        </form>

    </main>
{% endblock %}