{% extends "layout/layout.twig" %}

{% block title %}Message{% endblock %}

{% block description %}Page informant d'une erreur ou d'une action effectuée.{% endblock %}

{% block main %}
    <main id="message">

        <p> {{message}} </p>

    </main>
{% endblock %}