<footer>
    <ul>

        <li>
            <a href="https://github.com/AnnaigJegourel" title="GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github-alt fa-fw fa-3x" aria-hidden="true"></i>
        </li>

        <li>
            <a href="http://linkedin.com/in/annaig-jégourel-2a9b3b161" title="LinkedIn" rel="noreferrer noopener" target="_blank">
                <i class="fa-brands fa-linkedin fa-fw fa-3x"></i>
			</a>
        </li>
    
        <li>
            <a href="mailto:a_jegourel@pyahoo.fr" accesskey="c" title="Contact">
                <i class="fas fa-at fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href="index.php?access=user!admin" accesskey="ua" title="UserAdmin">
                Administrer le site
            </a>
        </li>

    </ul>

</footer>