<footer>
    <ul>
        <li>
            <a href="https://github.com/AnnaigJegourel/OC-P5-Creez-votre-premier-blog-en-PHP.git" title="GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github-alt fa-fw fa-3x" aria-hidden="true"></i>
        </li>
    </ul>

    <ul>
            <a href="https://github.com/AnnaigJegourel/OC-P5-Creez-votre-premier-blog-en-PHP.git/LICENSE">MIT 2022 - Annaig Jégourel</a>    
    </ul>

    <ul>
        <li>
            <a href="index.php?access=user!readUser" accesskey="ru" title="ReadUser">
                Voir mon profil
            </a>
        </li>
    </ul>
</footer>