<footer>
    <ul>
        <li>
            <a href="https://github.com/AnnaigJegourel" title="GitHub" rel="noreferrer noopener" target="_blank">
            <i class="fab fa-github-alt fa-fw fa-3x" aria-hidden="true"></i>
        </li>
        <li>
            <a href="http://linkedin.com/in/annaig-jégourel-2a9b3b161" title="LinkedIn" rel="noreferrer noopener" target="_blank">
                <i class="fa-brands fa-linkedin fa-fw fa-3x"></i>
			</a>
        </li>
    </ul>

    <ul class="admin">
        <li>
            <a href="index.php?access=comment!listcomments" title="listComments">
                Gérer les commentaires</a>
        </li>
        <li>
            <a href="index.php?access=user!listUsers" title="User">
            Gérer les utilisateurs
            </a>
        </li>
    </ul>
</footer>