<nav>
    <ul>
        <li>
            <a href="index.php?access=home" accesskey="h" title="Home">
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href="index.php?access=post" accesskey="p" title="Post">
                Les articles
            </a>
        </li>

        <li>
            <a href="index.php?access=user!readUser" accesskey="ru" title="ReadUser">
                Voir mon profil
            </a>
        </li>

        <li>
            <a href="index.php?access=user!createuserform" accesskey="cuf" title="CreateUserForm">
                Créer un compte
            </a>
        </li>

        <li>
            <a href="index.php?access=user" accesskey="u" title="User">
                Se connecter
            </a>
        </li>

        <li>
            <a href="index.php?access=user!logout" accesskey="lou" title="Logout">
                Se déconnecter</a>
        </li>

    </ul>
</nav>