<nav>
    <ul>
        <li>
            <a href="index.php?access=home" title="Home">
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="index.php?access=post" title="Post">
                Les articles
            </a>
        </li>
    </ul>

    <ul class="connection">
        
        <li>
            <a href="index.php?access=user!readUser" title="ReadUser">
                Voir mon profil
            </a>
        </li>
        <li>
            <a href="index.php?access=user!logout" title="Logout">
                Se déconnecter</a>
        </li>

        <li>
            <a href="index.php?access=user" title="User">
                Se connecter
            </a>
        </li>
        <li>
            <a href="index.php?access=user!createuserform" title="CreateUserForm">
                Créer un compte
            </a>
        </li>
        
    </ul>

</nav>